* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: blue;
    font-size: 20px;
    margin: 20px;
    text-align: justify;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body{
    background-color: darkgrey;
}

div span {
    color: blueviolet;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.titulos {
    color: darkblue;
    margin: 0.5em 0;
    text-align: center;
}

.titulos2 {
    color: blueviolet;
    margin-top: 20px;
}

.subtitulos {
    color: aqua;
    margin-top: 20px;
}

#Placas {
    text-align: center;
}

#lista-placas {
    list-style: none;
}

li {
    color: blueviolet;
    text-align: center;
}

#Logotitulo {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    color: darkblue;
}

#Logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#modelos {
    margin-left: 30px;
}

#pie-de-pagina {
    color: aliceblue;
    font-size: medium;
    text-align: right;
}

form {
    margin-left: 50px;
}

form p {
    color: darkcyan;
    font-size: medium;
}

.parrafo-estilo1 {
    color: dodgerblue;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5em;
}

.parrafo-estilo2 {
    color: azure;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5em;
}

#lista-productos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.img-productos {
    max-width: 100%;
    height: auto;
    display: block;
}

.navbar {
    background-color: darkcyan;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: darkblue;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.nav_ul--li a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border: 3px solid cadetblue;
    background-color: dodgerblue;
    transition: .5s;
}

.nav_ul--li a:hover {
    box-shadow: 6px 3px 3px blueviolet;
    margin-bottom: 3px;
    margin-left: 5px;
    transition: .5s;
    color: dodgerblue;
    background-color: darkblue;
}

.container1 {
    display: flex;
}

.sidebar1 {
    width: 15%;
    background-color: darkblue;
    padding: 20px;
}

.main-content1 {
    width: 85%;
    background-color: cornflowerblue;
    padding: 20px;
}

.modelos1 {
    width: 50%;
    height: 50px;
    background-color: darkcyan;
    border: 2px solid deepskyblue;
    margin: 10px;
    text-align: center;
    flex-grow: 1;
}

.modelos1 a {
    padding: 15px 20px;
    display: block;
}

.caja1 {
    position: relative;
    border: 2px solid blueviolet;
    margin: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-index {
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.3em 0.6em;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    pointer-events: none;
    z-index: 1;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

#body3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px repeat(3, auto) 70px;
    grid-template-areas: 
    "header3 header3 header3 header3"
    "nav3 main3 main3 aside3"
    "nav3 main3 main3 aside3"
    "nav3 main3 main3 aside3"
    "footer3 footer3 footer3 footer3"
    ;
    gap: 10px;
}

.box {
    border: 2px solid blueviolet;
}

#header3 {
    background-color: cornflowerblue;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    grid-area: header3;
}

#nav3 {
    background-color: darkcyan;
    grid-area: nav3;
}

#main3 {
    background-color: darkcyan;
    grid-area: main3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section1, .section2, .section3 {
    border: 1px solid blue;
    background-color: darkblue;
    width: 100%;
    min-height: 80px;
    margin: 20px 0;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img-inspirate {
    max-width: 100%;
    height: auto;
    display: block;
}

.parrafo-lados1 {
    color: darkblue;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5em;
}

.parrafo-lados2 {
    color: deepskyblue;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5em;
}

#aside3 {
    background-color: cornflowerblue;
    width: 100%;
    box-sizing: border-box;
    grid-area: aside3;
}

#footer3 {
    background-color: darkblue;
    grid-area: footer3;
}

@media screen and (max-width: 768px) {
    #body3 {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 80px auto fit-content (max-content) 80px;
        grid-template-areas: 
        "header3"
        "nav3"
        "main3"
        "aside3"
        "footer3";
    }
}

@media screen and (min-width: 769px) {
    #main3 {
        min-height: 100vh;
    }
}

#body4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px repeat(3, auto) 70px;
    grid-template-areas: 
    "header4 header4 header4 header4"
    "nav4 main4 main4 aside4"
    "nav4 main4 main4 aside4"
    "nav4 main4 main4 aside4"
    "footer4 footer4 footer4 footer4"
    ;
    gap: 10px;
}

.box2 {
    border: 2px solid blue;
}

#header4 {
    background-color: cyan;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    grid-area: header4;
}

#nav4 {
    background-color: darkblue;
    grid-area: nav4;
}

#main4 {
    background-color: darkcyan;
    grid-area: main4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section4, .section5, .section6 {
    border: 1px solid blueviolet;
    background-color: cadetblue;
    width: 100%;
    min-height: 80px;
    margin: 20px 0;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
}

#aside4 {
    background-color: darkblue;
    grid-area: aside4;
}

#footer4 {
    background-color: cornflowerblue;
    grid-area: footer4;
}

@media screen and (max-width: 768px) {
    #body4 {
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto auto fit-content (max-content) 80px;
        grid-template-areas: 
        "header4"
        "nav4"
        "main4"
        "aside4"
        "footer4";
    }
}

@media screen and (min-width: 769px) {
    #main4 {
        min-height: 100vh;
    }
}

.footer-container {
    position: relative;
    padding-bottom: 2em;
}

#inicio1 {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border: 3px solid cadetblue;
    background-color: dodgerblue;
    transition: .5s;
    margin: 0.5em;
}

#inicio1:hover {
    box-shadow: 6px 3px 3px blueviolet;
    margin-bottom: 3px;
    margin-left: 5px;
    transition: .5s;
    color: antiquewhite;
    background-color: darkblue;
}

#inicio2 {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border: 3px solid darkblue;
    background-color: skyblue;
    transition: .5s;
}

#inicio2:hover {
    box-shadow: 6px 3px 3px blueviolet;
    margin-bottom: 3px;
    margin-left: 5px;
    transition: .5s;
    color: black;
    background-color: deepskyblue;
}