* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: blue;
    font-size: 20px;
    margin: 20px;
    text-align: justify;
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    color: firebrick;
    text-align: center;
}

body{
    background-color: darkgray;
}

div {
    color: chartreuse;
}

span {
    color: crimson;
}

div span {
    color: chocolate;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.titulos {
    color: gold;
    margin-top: 20px;
}

#Placas {
    text-align: center;
}

li {
    color: khaki;
    text-align: center;
}

.titulos-ayuda {
    color: floralwhite;
    text-transform: uppercase;
    font-size: 24px;
}

.parrafo-ayuda {
    color: darkgreen;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#img-index {
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 100px;
}

#Logotitulo {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    color: blueviolet;
}

#Logo {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#modelos {
    margin-left: 30px;
}

#pie-de-pagina {
    color: crimson;
    font-size: medium;
    text-align: right;
}

form {
    margin-left: 50px;
}

form p {
    color: darkcyan;
    font-size: medium;
}

#parrafo-productos {
    color: rgb(0, 18, 100);
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#lista-productos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: aliceblue;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: blue;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.nav_ul--li a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border: 3px solid blanchedalmond;
    background-color: crimson;
    transition: .5s;
}

.nav_ul--li a:hover {
    box-shadow: 6px 3px 3px blueviolet;
    margin-bottom: 3px;
    margin-left: 5px;
    transition: .5s;
    color: coral;
    background-color: darkgoldenrod;
}

.container1 {
    display: flex;
}

.sidebar1 {
    width: 15%;
    background-color: blue;
    padding: 20px
}

.main-content1 {
    width: 85%;
    background-color: cadetblue;
    padding: 20px;
}

.modelos1 {
    width: 50%;
    height: 50px;
    background-color: brown;
    border: 2px solid burlywood;
    margin: 10px;
    text-align: center;
    flex-grow: 1;
}

.modelos1 a {
    padding: 15px 20px;
    display: block;
}

.caja1 {
    width: 50%;
    height: 50vh;
    background-color: chocolate;
    border: 2px solid blueviolet;
    margin: 10px;
    flex-grow: 1;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

#body3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px repeat(3, auto) 70px;
    grid-template-areas: 
    "header3 header3 header3 header3"
    "nav3 main3 main3 aside3"
    "nav3 main3 main3 aside3"
    "nav3 main3 main3 aside3"
    "footer3 footer3 footer3 footer3"
    ;
    gap: 10px;
}

.box {
    border: 2px solid red;
}

#header3 {
    background-color: aquamarine;
    grid-area: header3;
}

#nav3 {
    background-color: brown;
    grid-area: nav3;
}

#main3 {
    background-color: antiquewhite;
    grid-area: main3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section1, .section2, .section3 {
    border: 1px solid blue;
    width: 100%;
    height: 80px;
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
}

#parrafo-inspirate {
    color: aqua;
    text-align: center;
}

#aside3 {
    background-color: burlywood;
    grid-area: aside3;
}

#footer3 {
    background-color: chartreuse;
    grid-area: footer3;
}

@media screen and (max-width: 768px) {
    #body3 {
        grid-template-columns: 80px 1fr 60px;
        grid-template-rows: 50px 80px repeat(2,1fr) 80px ;
        grid-template-areas: 
        "header3 header3 header3"
        "nav3 nav3 nav3"
        "main3 main3 aside3"
        "main3 main3 aside3"
        "footer3 footer3 footer3";
    }
}

@media screen and (min-width: 769px) {
    #main3 {
        min-height: 100vh;
    }
}

#body4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px repeat(3, auto) 70px;
    grid-template-areas: 
    "header4 header4 header4 header4"
    "nav4 main4 main4 aside4"
    "nav4 main4 main4 aside4"
    "nav4 main4 main4 aside4"
    "footer4 footer4 footer4 footer4"
    ;
    gap: 10px;
}

.box2 {
    border: 2px solid blue;
}

#header4 {
    background-color: #fff47f;
    grid-area: header4;
}

#nav4 {
    background-color: rgb(54, 165, 42);
    grid-area: nav4;
}

#main4 {
    background-color: rgb(234, 142, 23);
    grid-area: main4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section4, .section5, .section6 {
    border: 1px solid rgb(255, 0, 238);
    width: 100%;
    height: 80px;
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
}

#parrafo-nosotros {
    color: rgb(255, 0, 200);
    text-align: center;
}

#aside4 {
    background-color: rgb(96, 56, 4);
    grid-area: aside4;
}

#footer4 {
    background-color: rgb(255, 106, 0);
    grid-area: footer4;
}

@media screen and (max-width: 768px) {
    #body4 {
        grid-template-columns: 80px 1fr 60px;
        grid-template-rows: 50px 80px repeat(2,1fr) 80px ;
        grid-template-areas: 
        "header4 header4 header4"
        "nav4 nav4 nav4"
        "main4 main4 aside4"
        "main4 main4 aside4"
        "footer4 footer4 footer4";
    }
}

@media screen and (min-width: 769px) {
    #main4 {
        min-height: 100vh;
    }
}

#parrafo-nosotros {
    color: aliceblue;
}

#titulo2 {
    color: blueviolet;
    text-align: center;
}